.header {
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.sideBar-item-button,
.sideBar-item-button:hover {
    color: white;
}

.sideBar-item span {
    font-family: var(--secondary-font);
    color: white;
    font-weight: bold;
}

.sideBar-item-icon {
    color: white;

}
.css-x15wq9{
    position: relative;
    z-index: 5;
}